@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #1A1914;
  --color-accent: #FFD700;
  --color-secondary: #CCB429;

  --font-titan: 'Titan One', sans-serif;
  --font-vend-sans: "Vend Sans", sans-serif
}

@layer components {
  .underline-hover {
    @apply relative after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:w-full after:origin-bottom after:scale-x-0 after:bg-accent after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom hover:after:scale-x-100;
  }
}