---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  img: ImageMetadata
  title: string
  span?: boolean
}

const { img, title, span } = Astro.props
---

<div
  class:list={['flex flex-col gap-4 items-center', { 'sm:col-span-2': span }]}
>
  <Image
    src={img}
    alt=""
    transition:persist
    class="rounded-xl h-48 max-w-80 w-full object-cover object-center"
  />
  <p class="justify-self-end text-center text-wrap">{title}</p>
</div>
