---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="prose prose-h3:m-0 prose-invert">
  <h2 class="text-secondary text-center font-medium">
    {text}
  </h2>
</div>
