---
import ProductCardList from '../../components/ProductCardList'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Productos">
  <main class="flex flex-col items-center mt-10 gap-10 font-titan">
    <section class="prose prose-invert w-full">
      <ProductCardList client:load />
    </section>
  </main>
</Layout>
